# Gradle
.gradle/
build/

# Minecraft run folder
run/

# IDEs
.idea/
*.iml
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Eclipse (si jamais)
.classpath
.project
.settings/

# Fabric/Forge cache
out/